<html>
<head>
	<meta charset="utf-8">
	<title>{% block titole %} Blog - Django - Curso ISLA Mayo 2013 {% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.css" %}">
	<script src="{% static "js/jquery.js" %}"></script>
	<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
	<style type="text/css">
		body{
			padding-top: 60px;
			padding-bottom: 40px;
		}
		.sidebar-nav{
			padding: 9px 0;
		}
	</style>
	{{ form.media }}
	{% load disqus_tags %}
	{% disqus_dev %}
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="{% url 'post_list' %}">Blog Django</a>
			{% if user.is_authenticated %}
				<p class="navbar-text pull-right">
					Conectado como: {{ user }}
				</p>
			{% endif %}
			<ul class="nav">
				{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
				{% else %}
					<li style="padding: 10px 15px">Login con:
						<a href="{% url 'socialauth_begin' 'github' %}" style="display: inline">GitHub</a>
						<a href="{% url 'socialauth_begin' 'facebook' %}" style="display: inline">Facebook</a> 
						<a href="{% url 'socialauth_begin' 'twitter' %}" style="display: inline">Twitter</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<!--<div class="span9">-->
				<div class="hero-unit">
					{% autoescape off %}
					{% block content %}
					{% endblock%}	
					{% endautoescape %}
				</div>
			<!--</div>-->
			<!--
			<div class="span3" align="center">
				<img src="{% static "images/django.gif" %}"/>
			</div>
			-->		
		</div>
	</div>
	<br />
	<footer>
		<div align="center">
			<p>CISLA Django Mayo 2013 &copy; Rayco Abad Martín</p>
			<img src="{% static "images/django.gif" %}"/>
		</div>
	</footer>
</body>
</html>
