{% extends "base.html" %}

{% block content %}
<h2 align="center">¿Está seguro de que desea borrar el Post {{ object.titulo }}?</h2>
<form method="POST">
	{% csrf_token %}
	<div align="center">
		<br />
		<button class="btn btn-success" type="submit">Confirmar</button>
		<input class="btn btn-danger" name="Cancelar" type="button" value="Cancelar" onClick="history.back()"/>
	</div>
</form>
{% endblock%}
