{% extends "base.html" %}

{% block content %}
<h1>Listado de Posts</h1>
<br />
{% for post in object_list %}
	<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.titulo }}</a></h2>
	<p>{{ post.intro }}</p>
	{% if user.is_authenticated %}
		<a class="btn  btn-info" href="{% url 'post_detail' pk=post.pk %}"><li class="icon-search"></li> Ver</a> 
		<a class="btn  btn-primary" href="{% url 'post_update' pk=post.pk %}"><li class="icon-edit"></li> Editar</a> 
		<a class="btn  btn-danger" href="{% url 'post_delete' pk=post.pk %}"><li class="icon-remove"></li> Borrar</a> 
		<br />
	{% endif %}
	<br />
{% endfor %}
{% if user.is_authenticated %}
	<div align="center">
		<a class="btn btn-success" href="{% url 'post_create' %}"><li class="icon-pencil"></li> Nuevo Post</a> 
	</div>
{% endif %}
{% endblock%}	
