{% extends "base.html" %}

{% block content %}
<h1>Crear/Editar un Post</h1>
<p>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<div align="center">
			<button class="btn btn-success" type="submit">Guardar</button>
			<input class="btn btn-danger" name="Cancelar" type="button" value="Cancelar" onClick="history.back()"/>
		</div>
	</form>
</p>
{% endblock%}
