{% extends "base.html" %}

{% block content %}

<h1>{{ object.titulo }}</h1>
<br /><p>{{ object.intro }}</p><br />

{% if object.mas %}
	<h2>Leer Más:</h2>
	<p>{{ object.mas }}</p><br />
{% endif %}

{% if user.is_authenticated %}
	<div>
		<a class="btn btn-primary" href="{% url 'post_update' pk=object.pk %}"><li class="icon-edit"></li> Editar</a>
		<a class="btn btn-danger" href="{% url 'post_delete' pk=object.pk %}"><li class="icon-remove"></li> Borrar</a>
	</div>
{% endif %}

<br />
<div>
	{% load disqus_tags %}
	{% set_disqus_identifier "blogdjango_" object.pk %}
	{% disqus_show_comments %}
</div>

<div align="center">
	<a class="btn btn-success" href="{% url 'post_list' %}"><li class="icon-search"></li> Ver todos</a>
</div>
{% endblock%}
